ul, li {
    list-style:none;
}

ol, ul, dl {
    margin: 0;
    padding:0;
}

.hero {
    display:flex;
    width:100%;
    justify-content:space-between;
    padding:0px 0px 40px 0px;
}

.hero h1 {
    font-size:700%;
    display:inline;
    color:white;

}

.heroSubtitle {
    color: white;
    font-size: 30px;
}

.hero_textcontainer {
    display: flex;
    align-items: center;
    gap: 20px;
}

.dropping-texts {
    display: flex;
    align-items: center;
    width: 180px;
    text-align: left;
    height: 36px;
    vertical-align: -2px;
    font-size: 40px;
}

    .dropping-texts > li {
        opacity: 0;
        position: absolute;
        color: #00ffff;
    }

        .dropping-texts > li:nth-child(1) {
            animation: roll 5s linear infinite 0s;
        }

        .dropping-texts > li:nth-child(2) {
            animation: roll 5s linear infinite 1s;
        }

        .dropping-texts > li:nth-child(3) {
            animation: roll 5s linear infinite 2s;
        }

        .dropping-texts > li:nth-child(4) {
            animation: roll 5s linear infinite 3s;
        }

@keyframes roll {
    0% {
        font-size: 0px;
        opacity: 0;
        margin-left: -30px;
        margin-top: 0px;
        transform: rotate(-25deg);
    }

    3% {
        opacity: 1;
        transform: rotate(0deg);
    }

    5% {
        font-size: inherit;
        opacity: 1;
        margin-left: 0px;
        margin-top: 0px;
    }

    20% {
        font-size: inherit;
        opacity: 1;
        margin-left: 0px;
        margin-top: 0px;
        transform: rotate(0deg);
    }

    27% {
        font-size: 0px;
        opacity: 0.5;
        margin-left: 20px;
        margin-top: 100px;
    }

    100% {
        font-size: 0px;
        opacity: 0;
        margin-left: -30px;
        margin-top: 0px;
        transform: rotate(15deg);
    }
}


.heroContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 60px;
    margin: 0;
    gap: 10px;
    z-index: 10;
    text-align: center;
}

.socialBlock {
    display: flex;
    align-self: flex-end;
    flex-direction: column;
    gap: 10px;
    font-size: 150%;
    z-index: 10;
}

.socialBlock ul {
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-content:center;
}

.heroBackground {
    width: 100%;
    height: 100%;
    margin: 0;
    background: transparent;
    display: flex;
    justify-content: space-between;
    position: absolute;
    padding: 0 30px;
}

.lang {
    display: flex;
    align-self: flex-end;
    flex-direction: column;
    font-size: 150%;
    z-index: 10;
}

.HomeButton {
    display: flex;
    flex-direction: row;
    margin:auto;
    gap: 0px;
    padding: 10px 20px;
    border-radius: 15px;
    background: #00ffff;
    align-items: center;
    font-size: 150%;
    margin-top: 80px;
    text-align:center;
    width:fit-content;
    }

    .HomeButton:hover {
        animation: Home .7s forwards;
    }

@keyframes Home {
    from {
        padding-left: 0px;
    }

    to {
        padding-left: 50px;
    }
}


.HomeButton:hover .IconHomeButton {
    animation: HomeIcon .7s forwards;
    display: block;
    color:white;
}

.HomeButton:hover .TextHomeButton {
    animation: HomeText 1s forwards;
    color: white;
}

@keyframes HomeIcon {
    from {
        transform: scale(0);
        transform: translateX(20px);
        opacity:0;
    }

    to {
        transform: scale(1);
        transform: translateX(-20px);
        opacity: 1;
    }
}

.IconHomeButton {
    transform: translateX(20px) ;
        transform: scale(0);

}


.TextHomeButton {
}

canvas {
    display: block;
    vertical-align: bottom;
}
/* ---- tsparticles container ---- */
#tsparticles {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #323031;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}
    .logo img {
        width:80px;
    }